.arrow {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-width: 0;
}

.cardChart {
  width: 100%;
  /* height: 145px; */
  border: 1px solid rgb(228, 227, 227);
  margin-left: auto;
  margin-right: auto;
}

.cardImg {
  width: 100%;
  object-fit: contain;
}
