.container {
  position: absolute;
  background-color: white;
  width: 250px;
  margin-top: 10px;
  z-index: 999;
  /* margin-left: 10px; */
}

.stockList {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #d1d3e2;
}

.stockList ul {
  list-style: none;
  padding-left: 0px;
}

.stockList li {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
